<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta charset="utf-8">
    <title>智能归档平台登录页</title>
    <link href="/static/web/css/style.css" rel="stylesheet">
    <link href="/static/web/css/page/backend/login.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.6.10/themes/default/easyui.css"
          th:href="@{jquery-easyui-1.6.10/themes/default/easyui.css}"/>

    <link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.6.10/themes/icon.css"
          th:href="@{jquery-easyui-1.6.10/themes/icon.css}"/>

    <link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.6.10/themes/color.css"
          th:href="@{jquery-easyui-1.6.10/themes/color.css}"/>

    <script type="text/javascript" src="../../jquery-easyui-1.6.10/jquery.min.js"
            th:src="@{jquery-easyui-1.6.10/jquery.min.js}"></script>

    <script type="text/javascript" src="../../jquery-easyui-1.6.10/ajaxfileupload.js"
            th:src="@{jquery-easyui-1.6.10/ajaxfileupload.js}"></script>

    <script type="text/javascript" src="../../jquery-easyui-1.6.10/jquery.easyui.min.js"
            th:src="@{jquery-easyui-1.6.10/jquery.easyui.min.js}"></script>

    <script type="text/javascript" src="../../js/upload.js" th:src="@{js/upload.js}"></script>

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript"></script>

</head>
<body>
<div id="hd">
    <div class="logo main-content">
        <h1><a href="index.html" title="云平台">账号登录</a></h1>
        <ul class="head-link">
            <li><a href="">平台首页</a></li>
            <li><a href="">帮助中心</a></li>
        </ul>
    </div>
</div>

<div id="bd" class="login-bd">
    <div class="main-content">
        <div class="input-box">
            <div class="input-hd"><h2>用户登录</h2></div>

            <div class="input-area">
                <div class="alert alert-error">
                    <i class="iconfont">&#xe617;</i>
                    <span>请输入用户名</span>
                </div>
                <form>
                    <!--登陆表单-->
                    <div class="input-item">
                        <p>登录名：</p>
                        <input type="text" name="name" placeholder="请输入账号/邮箱">
                    </div>

                    <div class="input-item">
                        <p>登录密码：</p>
                        <input type="password" name="password" placeholder="请输入密码">
                    </div>
                    <div >
                        <input type="button" onclick="login()" value="登陆" >
                    </div>
                </form>
            </div>
            <p class="reg">忘记密码？ <a href="javascript:;">立即注册</a></p>
        </div>
    </div>
</div>

<div id="ft" class="login-ft">
    <div class="footer-copyright">
        <p class="clearfix links">
            <a href="javascript:;" target="_blank">关于我们</a>
            <a href="javascript:;" target="_blank">法律声明</a>
            <a href="javascript:;">服务条款</a>
            <a href="javascript:;" target="_blank">联系方式</a>
        </p>
        <p style="font-family:arial;">地址：北京市海淀区中关村南大街5号&nbsp;&nbsp;2009-2019&nbsp;<a href="http://www.bit.edu.cn/">北京理工大学</a>&nbsp;版权所有&nbsp;
        </p>
        <p style="font-family:arial;">计算机学院实验室&nbsp;&nbsp;智能管理平台&nbsp;&nbsp;版权所有</p>
    </div>
</div>



<script>
    function login() {
        alert(":::");
        $.ajax({
            url: '/user/login',
            type: 'get',
            dataType: 'text',
            data: {"username": $('#name').val(), "userpwd": $('#password').val()},
            success: function (d) {
                if (d === "success") {
                    window.location.href = 'buy.html';
                } else {
                    window.location.href = 'error.html';
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status); // 200
                alert(textStatus); // parsererror
                alert(errorThrown); // SyntaxError: Unexpected end of input
            }
        })
    }
</script>

</body>
</html>