<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta charset="utf-8">
    <title>template智能归档平台登录页</title>
    <link href="/static/web/css/style.css" rel="stylesheet">
    <link href="/static/web/css/page/backend/login.css" rel="stylesheet">


</head>
<body>
<div id="hd">
    <div class="logo main-content">
        <ul class="head-link">
            <li><a href="">平台首页</a></li>
            <li><a href="">帮助中心</a></li>
        </ul>
    </div>
</div>

<div id="bd" class="login-bd">
    <div class="main-content">
        <div class="input-box">
            <div class="input-hd"><h2>用户登录</h2></div>

            <div class="input-area">
                <div class="alert alert-error">
                    <i class="iconfont">&#xe617;</i>
                    <span>请输入用户名</span>
                </div>
                <!--<form th:name="loginForm" method="post" action="user/login">-->
                <form th:action="@{/user/login}" name="loginForm" method="post" >
                    <!--登陆表单-->
                    <div class="input-item">
                        <p>登录名：</p>
                        <input type="text" name="username" placeholder="请输入账号/邮箱">
                    </div>

                    <div class="input-item">
                        <p>登录密码：</p>
                        <input type="password" name="userpwd" placeholder="请输入密码">
                    </div>
                    <div class="login-btn">
                        <input type="submit"  onsubmit="login()" value="登陆" style="color: #fff;background: #00a2ca">
                    </div>
                </form>
            </div>
            <p class="reg">&nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:;">立即注册</a></p>
        </div>
    </div>
</div>

<div id="ft" class="login-ft">
    <div class="footer-copyright">
        <p class="clearfix links">
            <a href="javascript:;" target="_blank">关于我们</a>
            <a href="javascript:;" target="_blank">法律声明</a>
            <a href="javascript:;">服务条款</a>
            <a href="javascript:;" target="_blank">联系方式</a>
        </p>
        <p style="font-family:arial;">地址：北京市海淀区中关村南大街5号&nbsp;&nbsp;2009-2019&nbsp;<a href="http://www.bit.edu.cn/">北京理工大学</a>&nbsp;版权所有&nbsp;
        </p>
        <p style="font-family:arial;">计算机学院实验室&nbsp;&nbsp;智能管理平台&nbsp;&nbsp;版权所有</p>
    </div>
</div>

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript"> </script>

<script>
    function login() {
        $.ajax({
            url: '/user/login',
            type: 'get',
            dataType: 'text',
            data: {"username": $('#name').val(), "userpwd": $('#password').val()},
            success: function (data) {
                if (d === "success") {
                    window.location.href = 'index';
                } else {
                    window.location.href = 'error.html';
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status); // 200
                alert(textStatus); // parsererror
                alert(errorThrown); // SyntaxError: Unexpected end of input
            }
        })
    }
</script>

</body>
</html>