<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.management.manual_management.dao.userDao">
    <resultMap id="BaseResultMap" type="com.bit.management.manual_management.entity.User">
        <result column="id" jdbcType="SMALLINT" property="id"/>
        <result column="userName" jdbcType="VARCHAR" property="username"/>
        <result column="userPwd" jdbcType="VARCHAR" property="userpwd"/>
        <result column="roleId" jdbcType="TINYINT" property="roleid"/>
    </resultMap>

    <insert id="addUser" parameterType="com.bit.management.manual_management.entity.User">
         INSERT INTO user (username, userpwd, roleid) VALUES (#{username}, #{userpwd}, #{roleid})
    </insert>

    <select id="getByUsername" resultType="com.bit.management.manual_management.entity.User">
    SELECT * FROM
    user
    WHERE
    username = #{username}
  </select>
</mapper>